.light{
    background-color: aqua;
    height: 100px;
    width: 100%;
    display: flex;
}

.man{
    background-color: aliceblue;
    height: 100px;
    width: 30%;

}
.man1{
    background-color: blue;
    height: 100px;
    width: 70%;
    
}

.olitems{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 30px;
    margin-left: 180px;
}

.olitems> li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}