*{
    padding: 0px;
    margin: 0px;
}
.body{
    height: 100vh;
    width: 100%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.man{
    background-color:red;
    height: 100px;
    width: 100px;
    margin-right: 480px;
    margin-bottom: 70px;    
    position: absolute;
   
}
.boy{
    background-color: rgb(0, 102, 255);
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 250px;
    border-radius: 50%;
    margin-left: 380px;
}
.girl{
    background-color: rgba(0, 255, 255, 0.486);
    height: 150px;
    width: 400px;
    /* border-radius: 50%; */
    position: absolute;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    backdrop-filter: blur(5px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}