*{
    margin: 0;
    padding: 0;
}
.slide{
    height: 400px;
    width: 200px;
    background-color: firebrick;
    /* transform: translateX(-200px); */
    /* margin-left: -200px; */
    position: absolute;
    left: -200px;
    transition: .5s;
}




