*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}
.wrap{
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.down{
    display: flex;
    align-items: center;
    gap: 10px;
}
.holdBar{
    width: 120px;
    background-color: white;
    height: 5px;
    border-radius: 10px;
}
.bar{
    height: inherit;
    border-radius: inherit;
    transition: 0.5s;
}

.we{
    background-color: red;
    width: 30%;
}
.md{
    background-color: yellow;
    width: 70%;
}
.mi{
    background-color: green;
    width: 100%;
}